@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,400;1,500&family=Roboto:ital,wght@1,100&family=Rubik:wght@400;500;700&family=Work+Sans:wght@100&display=swap');

html,
body,
#root,
.app {
height: 100%;
width: 100%;
font-family: "Rubik"
}